SteamLibrary.txt
GUI/GUI_windows/__pycache__/
GUI/GUI_windows_source/__pycache__/
GUI/__pycache__/
GUI/pictures/__pycache__/
scripts/__pycache__/
Stellaris_True_Machine_Translation_Tool.egg-info/
stellaris_trpack.egg-info/


